{% extends "base.html" %}

{% block content %}

    <div class="jumbotron text-center">
        <div class="container">
            <p><i>Ova sekcija CRD-a je u ranoj fazi razvoja i trenutačno daleko od upotrebljivosti.</i></p>
        </div>
    </div>

    <div class="content-section">

        <form method="POST">
            <fieldset class="form-group">
                <legend class="border-bottom mb-1">Odaberi lokacije i parametar</legend>
                <div class="row">
                    <div class="col-md-4">
                        <select name="locations" class="form-control">
                            <option value="Zagreb" SELECTED>Zagreb</option>"
                            {% for location in locations %}
                                {% if location==sel_loc %}
                                    <option value="{{location}}" SELECTED>{{location}}</option>"
                                {% else %}
                                    <option value="{{location}}">{{location}}</option>"
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select name="locations2" class="form-control">
                            <option value="Split" SELECTED>Split</option>"
                            {% for location in locations %}
                                {% if location==sel_loc2 %}
                                    <option value="{{location}}" SELECTED>{{location}}</option>"
                                {% else %}
                                    <option value="{{location}}">{{location}}</option>"
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select name="locations3" class="form-control">
                            <option value="(opcionalno)" SELECTED>(opcionalno)</option>"
                            {% for location in locations %}
                                {% if location==sel_loc3 %}
                                    <option value="{{location}}" SELECTED>{{location}}</option>"
                                {% else %}
                                    <option value="{{location}}">{{location}}</option>"
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select name="locations4" class="form-control">
                            <option value="(opcionalno)" SELECTED>(opcionalno)</option>"
                            {% for location in locations %}
                                {% if location==sel_loc4 %}
                                    <option value="{{location}}" SELECTED>{{location}}</option>"
                                {% else %}
                                    <option value="{{location}}">{{location}}</option>"
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select name="locations5" class="form-control">
                            <option value="(opcionalno)" SELECTED>(opcionalno)</option>"
                            {% for location in locations %}
                                {% if location==sel_loc5 %}
                                    <option value="{{location}}" SELECTED>{{location}}</option>"
                                {% else %}
                                    <option value="{{location}}">{{location}}</option>"
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                    <select name="parameters" class="form-control">
                        {% for parameter in parameters %}
                            {% if parameter==sel_param %}
                                <option value="{{parameter}}" SELECTED>{{parameter}}</option>"
                            {% else %}
                                <option value="{{parameter}}">{{parameter}}</option>"
                            {% endif %}
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend class="border-bottom mb-1">Odaberi početni/završni datum i opcije</legend>
                <div class="row">
                    <div class="col-md-2">
                        {{ form.startdate(class="form-control") }}
                        <small id="firststartdate" class="form-text text-muted text-center">
                            Prvi dostupni datum: {{first_date[0][0].strftime("%Y-%m-%d")}}</small>
                    </div>
                    <div class="col-md-2">
                        {{ form.enddate(class="form-control") }}
                        <small id="laststartdate" class="form-text text-muted text-center">
                            Zadnji dostupni datum: {{last_date[0][0].strftime("%Y-%m-%d")}}</small>
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary") }}
            </div>
            {% if show_plot==True %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-2">Grafički prikaz</legend>
                    <div class="container">
                        <img class="img-fluid" src="data:image/png;base64, {{compareplot}}" alt="Plot">
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <legend class="border-bottom mb-2">Tablični ispis podataka</legend>
                    {% if table_truncated == True %}
                        <div class="alert alert-warning" role="alert">Tablica je ograničena na 30 dana.</div>
                    {% endif %}
                    <div class="container">
                        <table class="table table-striped table-hover table-sm"
                               data-pagination="true"
                               data-search="true"
                               data-toggle="table"
                               data-page-size="50"
                               data-page-list="[10, 50, 100, 500, 1000]">
                            <thead>
                                <tr>
                                    {% for item in table_columns %}
                                    <th scope="col" data-sortable="true">{{ item }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in response %}
                                <tr>
                                    <td>
                                        {{ item[0].strftime("%Y-%m-%d %H") }}
                                    </td>
                                    <td>
                                        {{ item[1] }}
                                    </td>
                                    <td>
                                        {{ item[3] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            {% endif %}
        </form>

    </div>






{% endblock %}