{% extends "base.html" %}

{% block content %}

<div class="content-section">

    <div class="container">
        <h1 class="mb-5">CRD dokumentacija</h1>


        <h2 class="mt-4">Cilj projekta</h2>

        <p>Cilj projekta je izrada klimatološke baze podataka od najmanje 30 godina temeljene na reanalizi klime
        pomoću WRF-ARW modela nad regijom jugoistočne Europe. Baza podataka je u cjelosti dostupna javnosti zajedno sa
        setom statističkih alata za analizu klimatoloških podataka.</p>



        <h2 class="mt-4">Atmosferski model</h2>

        <p>Za klimatološku reanalizu korišten je atmosferski model WRF-ARW [1]. Domena modela ima razmak mreže od 10
        kilometara i veličine je 317x277 točaka, lambert projekcija sa središtem na koordinatama 45,30°N i 13,30°E.
        Vertikalni broj nivoa modela je 42. Za inicijalne i bočne uvjete korišten je CFSR model, rezolucije mreže 0.5°
        (NCEP ds093.0 [2] i ds094.0 [3]). Vremenski korak reanalize iznosi 1 sat.</p>

        <p>Korištena jezgra modela je Advanced Research WRF (ARW) u verziji 3.9.1.1. Preprocessing WPS alati su verzije
        3.9.1.</p>

        <div class="card-body">
            <h6 class="card-title">Temeljni fizikalni setup modela</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-2">Microphysics: <i>WRF Single-Moment 5-class scheme</i></li>
                <li class="list-group-item py-2">Longwave Radiation: <i>New Goddard scheme</i></li>
                <li class="list-group-item py-2">Shortwave Radiation: <i>New Goddard scheme</i></li>
                <li class="list-group-item py-2">Surface Layer: <i>MM5 similarity</i></li>
                <li class="list-group-item py-2">Land Surface: <i>Noah Land Surface Model</i></li>
                <li class="list-group-item py-2">Planetary Boundary layer: <i>Yonsei University scheme</i></li>
                <li class="list-group-item py-2">Cumulus Parameterization: <i>Kain-Fritsch scheme</i></li>
            </ul>
        </div>


        <p>Proces reanalize je podijeljen u mjesečne izračune. Svaki pojedinačni izračun inicijaliziran je s početnim
        stanjem na 1. dan u mjesecu u 00 sati UTC i završava sa 1. danom u idućem mjesecu u 00 sati UTC. U bazi,
        podatak koji se odnosi na 00 sati UTC za 1. dan u mjesecu je zadnji podatak izračuna prethodećeg mjeseca,
        dok je prvi podatak svakog novog pokretanja modela u 01 sat UTC 1. dana u mjesecu.</p>

        <p>Restart reanalize na prijelazu svakog mjeseca osigurava minimaliziranje efekata dugoročnih bias-a modela.
        Duljina reanalize od mjesec dana dovoljna je da se minimizira učestalost spin-up modela i moguće
        negativne posljedice tog perioda integracije modela (u pravilu, prvih 6-12 sati od starta modela). Periodi od
        mjesec dana uzeti su kao optimalni kompromis i konstanta su kroz
        cijeli reanalizirani period.</p>

        <p>Uslijed restarta reanalize, odnosno reinicijalizacije stanja modela, na prijelazu
        mjeseca moguće je primjetiti diskontinuitete pojedinih meteoroloških parametara, primjerice visine snježnog
        pokrivača. Ako nije drugačije naglašeno (vidi poglavlje Ograničenja), ovi diskontinuiteti ne stvaraju
        statistički značajne efekte.</p>



        <h2 class="mt-4">Podaci u bazi</h2>

        <p>Temeljni podaci u MySQL bazi su organizirani u tablici s kolonama kako slijedi
            (korisno za upotrebu SQL filtera na CRD sučelju):</p>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Kolona</th>
              <th scope="col">Značenje</th>
              <th scope="col">Mjerna jedinica</th>
              <th scope="col">Preciznost</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">datetime</th>
              <td>Datum i vrijeme</td>
              <td>(datetime type)</td>
              <td>-</td>
            </tr>
            <tr>
              <th scope="row">TMP_2</th>
              <td>Temperatura na 2m</td>
              <td>°C</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">DPT_2</th>
              <td>Temperatura rosišta na 2m</td>
              <td>°C</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">RH_2</th>
              <td>Relativna vlažnost na 2m</td>
              <td>%</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">RH_700</th>
              <td>Relativna vlažnost na 700hPa</td>
              <td>%</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">MSLET_SF</th>
              <td>Tlak zraka reduciran na morsku razinu</td>
              <td>hPa</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">CAPE_180</th>
              <td>Mixed Layer CAPE</td>
              <td>J/kg</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">CIN_180</th>
              <td>Mixed Layer CIN</td>
              <td>J/kg</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">PWAT_CLM</th>
              <td>Oboriva voda</td>
              <td>mm</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">UGRD_10</th>
              <td>U vektor vjetra na 10m</td>
              <td>m/s</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">VGRD_10</th>
              <td>V vektor vjetra na 10m</td>
              <td>m/s</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">UGRD_850</th>
              <td>U vektor vjetra na 850hPa</td>
              <td>m/s</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">VGRD_850</th>
              <td>V vektor vjetra na 850hPa</td>
              <td>m/s</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">UGRD_500</th>
              <td>U vektor vjetra na 500hPa</td>
              <td>m/s</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">VGRD_500</th>
              <td>V vektor vjetra na 500hPa</td>
              <td>m/s</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">UGRD_300</th>
              <td>U vektor vjetra na 300hPa</td>
              <td>m/s</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">VGRD_300</th>
              <td>V vektor vjetra na 300hPa</td>
              <td>m/s</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">GUST_SF</th>
              <td>Brzina udara vjetra</td>
              <td>m/s</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">HGT_0C</th>
              <td>Visina izoterme 0°C iznad tla</td>
              <td>m</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">TMP_1000</th>
              <td>Temperatura zraka na 1000hPa</td>
              <td>°C</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">TMP_850</th>
              <td>Temperatura zraka na 850hPa</td>
              <td>°C</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">TMP_500</th>
              <td>Temperatura zraka na 500hPa</td>
              <td>°C</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">HGT_1000</th>
              <td>Visina izobarne plohe 1000hPa</td>
              <td>m</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">HGT_850</th>
              <td>Visina izobarne plohe 850hPa</td>
              <td>m</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">HGT_500</th>
              <td>Visina izobarne plohe 500hPa</td>
              <td>m</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">VVEL_900</th>
              <td>Vertikalna brzina na 900hPa</td>
              <td>Pa/s</td>
              <td>0.1</td>
            </tr>
            <tr>
              <th scope="row">VVEL_700</th>
              <td>Vertikalna brzina na 700hPa</td>
              <td>Pa/s</td>
              <td>0.1</td>
            </tr>
            <tr>
              <th scope="row">SNOD_SF</th>
              <td>Visina snježnog pokrivača</td>
              <td>cm</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">TMP_SF</th>
              <td>Temperatura površine podloge</td>
              <td>°C</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">DSWRF_SF</th>
              <td>Dolazno kratkovalno zračenje</td>
              <td>W/m2</td>
              <td>10</td>
            </tr>
            <tr>
              <th scope="row">DLWRF_SF</th>
              <td>Dolazno dugovalno zračenje</td>
              <td>W/m2</td>
              <td>10</td>
            </tr>
            <tr>
              <th scope="row">USWRF_SF</th>
              <td>Odlazno kratkovalno zračenje</td>
              <td>W/m2</td>
              <td>10</td>
            </tr>
            <tr>
              <th scope="row">ULWRF_SF</th>
              <td>Odlazno dugovalno zračenje</td>
              <td>W/m2</td>
              <td>10</td>
            </tr>
            <tr>
              <th scope="row">rdrmax</th>
              <td>Maksimalni radarski odraz unutar radijusa 40km od lokacije</td>
              <td>dBz</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">cldave</th>
              <td>Prosječna zastrtost neba naoblakom unutar radijusa 40km od lokacije</td>
              <td>%</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">precave</th>
              <td>Srednja satna količina oborine unutar radijusa 40km od lokacije</td>
              <td>mm</td>
              <td>0.1</td>
            </tr>
            <tr>
              <th scope="row">precpct</th>
              <td>Postotak grid točaka unutar radijusa 40km od lokacije koje imaju satnu oborinu >0.0mm</td>
              <td>%</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>

        <p>Preostali dostupni parametri u CRD sučelju računaju se iz temeljnih parametara u bazi matematičkim putem.</p>


        <h2 class="mt-4">Ograničenja</h2>

        <p>Baza podataka ne sadrži izravna mjerenja; svi podaci su produkt reanalize klime modelom i stoga su podaci
        u bazi podložni svim ograničenjima koja su svojstvena numeričkom modeliranju atmosfere. U prvom redu ona dolaze
        iz nesavršenosti korištenog fizikalno/dinamičkog modela atmosfere, nedovoljno točno poznatih početnih i rubnih
        uvjeta atmosfere kao i ograničenja koja proizlaze iz činjenice da je atmosfera kaotični sustav i ne ponaša se
        po determinističkim načelima.</p>

        <p>S obzirom na navedena ograničenja, apsolutna vrijednost podataka u bazi se ne može uzeti kao reprezentativno
        točna. Ipak, relativni odnosi podataka, osobito na dulje razdoblje (trendovi, odstupanja od prosjeka
        i druga statistička obilježja uzeta preko duljih razdoblja) se mogu uzeti kao dovoljno vjerodostojni za potrebe
        klimatskih analiza. Pri reanalizi je posebna pažnja posvećena unificiranju metodologije u smislu
        jednakosti korištenih izvora podataka i načina njihove obrade tijekom cijelog reanaliziranog razdoblja;
        metode i podaci korišteni za reanalizu primjerice 2018. godine identični su koliko god je to bilo moguće
        metodama i podacima korištenim za reanalizu npr. 1990. godine.</p>

        <p>Treba naglasiti da je za period do travnja
        2011. godine korišten CFSR dataset (093.0) a za period od travnja 2011. CFSR v2 dataset (094.0). Osim te
        razlike, drugih značajnijih razlika u korištenim podacima i metodama nema, bez obzira na datum reanalize.</p>

        <p>U cilju maksimalnog optimiziranja zauzeća diskovnog prostora SQL baze i grib datoteka, numerička preciznost
        podataka je reducirana u odnosu na standardne vrijednosti. Nastojalo se postići da preciznost podataka ne
        bude značajno veća od njihove točnosti s obzirom da povećana preciznost ima za posljedicu veći utrošak diskovnog
        prostora. Neki podaci su time postali ponešto grubljih prijelaza između susjednih veličina (na primjer,
        temperature su zaokružene na najbližu cjelobrojnu vrijednost što je lako uočiti na grafovima).</p>

        <div class="card border-danger">
            <div class="card-body">
                <h5 class="card-title">Naročitu pažnju potrebno je obratiti na sljedeća ograničenja:</h5>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Inicijalna <strong>visina snježnog pokrivača</strong> na početku mjeseca dolazi iz grube prostorne rezolucije
                ulaznih podataka od 0.5°x0.5° i stoga je u pravilu vrlo nereprezentativna. Time i dobar dio razdoblja iza početka mjeseca,
                ako je riječ o području pod snijegom (u stvarnosti i/ili u modelu), ima znatna odstupanja visine snijega
                od realnosti. Ni ostatak mjeseca ne može se smatrati naročito pouzdanijim po tom parametru, stoga visinu
                snježnog pokrivača u bazi <u>nije uputno uzimati u obzir za bilo kakve ozbiljne analize</u>.</li>

                <li class="list-group-item"><strong>Brzina vjetra i brzina udara vjetra</strong> može značajno odstupati od stvarnosti na lokacijama
                koje se nalaze u blizini kompleksnog reljefa.</li>

                <li class="list-group-item"><strong>Temperatura zraka i rosišta te relativna vlažnost</strong> može značajno odstupati od stvarnosti
                u područjima izraženih terenskih ulegnuća, kao i na otočnim lokacijama ili lokacijama na obali. Pokazalo se
                također da model ne daje zadovoljavajuće rezultate relativne vlažnosti u uvjetima magle noćnog hlađenja
                (radijacijska magla) te je u područjima gdje je noćna magla česta pojava potrebno očekvati značajnija
                odstupanja ova tri parametra od stvarnosti.</li>

                <li class="list-group-item"><strong>Količina oborine</strong> može značajno odstupati od stvarnosti u uvjetima konvektivnih procesa te
                u planinskim područjima.</li>
                </ul>
            </div>
        </div>


        <h2 class="mt-4">Sponzori projekta</h2>

        <p>Autori projekta se ovim putem zahvaljuju sponzorima koji su omogućili korištenje hardverskih resursa
        za potrebe izrade baze ili pomogli projektu na neki drugi način. Bez njihovog doprinosa ovaj projekt
        bi bilo mnogo teže realizirati. To su, abecednim redom:</p>
        <ul>
            <li><a href="http://www.meteo-centar.hr/">Meteo Centar d.o.o.</a></li>
        </ul>



        <h2 class="mt-4">Suradnici na razvoju open source CRD sučelja</h2>

        <p>Veliko hvala svim suradnicima koji su pomogli u programiranju CRD sučelja. Abecednim redom po prezimenima
        to su:</p>
        <ul>
            <li>Nino Rašić</li>
            <li>Ivan Toman - autor i koordinator projekta</li>
        </ul>



        <div class="card mt-5">
            <div class="card-body">
                <h2 class="card-title">Popis referenci</h2>
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">1. WRF-ARW - Skamarock, W. C., J. B. Klemp, J. Dudhia, D. O. Gill, D. M. Barker, M. G Duda, X.-Y. Huang,
                        W. Wang, and J. G. Powers, 2008: A Description of the Advanced Research WRF Version 3. NCAR Tech.
                        Note NCAR/TN-475+STR, 113 pp. doi:10.5065/D68S4MVH</li>

                    <li class="list-group-item">2. CFSR ds093.0 - Saha, S., et al. 2010. NCEP Climate Forecast System Reanalysis (CFSR) 6-hourly Products,
                        January 1979 to December 2010. Research Data Archive at the National Center for Atmospheric Research,
                        Computational and Information Systems Laboratory. https://doi.org/10.5065/D69K487J.
                        Posjećeno 28.11.2018.</li>

                    <li class="list-group-item">3. CFSR v2 ds094.0 - Saha, S., et al. 2011, updated daily. NCEP Climate Forecast System Version 2 (CFSv2)
                        6-hourly Products. Research Data Archive at the National Center for Atmospheric Research,
                        Computational and Information Systems Laboratory. https://doi.org/10.5065/D61C1TXF.
                        Posjećeno 28.11.2018.</li>

                </ul>
            </div>
        </div>

    </div>

</div>

{% endblock %}