{% extends "base.html" %}

{% block content %}

    <div class="jumbotron text-center">
        <div class="container">
            <h1>Dobrodošli u CRD!</h1>
            <p>CRD - Climate <del>Reanalysis</del> Research Database. Kod web aplikacije je hostan na GitHub-u kao open source projekt u Python/Flask frameworku. Pozivamo zainteresirane volontere da nam se pridruže u razvoju. </p>
            <a href="https://github.com/meteoadriatic/Reanalysis" class="btn btn-primary">CRD na GitHub-u</a>
        </div>
    </div>

{% endblock %}
