{% extends "base.html" %}

{% block content %}

    <div class="jumbotron text-center">
        <div class="container">
            <h1>Dobrodošli u CRD!</h1>
            <p>CRD - Climate <del>Reanalysis</del> Research Database. Kod web aplikacije je hostan na GitHub-u kao open source projekt u Python/Flask frameworku. Pozivamo zainteresirane volontere da nam se pridruže u razvoju. </p>
            <a href="https://github.com/meteoadriatic/Reanalysis" class="btn btn-primary">CRD na GitHub-u</a>
        </div>
    </div>

    <div class="container">
        <h3>CRD treba vas. Da, <strong>Vas</strong></h3>
        <p>Ne znamo jeste li primjetili, ali CRD je projekt u kojem trenutačno sudjeluje samo jedna jedina osoba.
        Osoba koja uz ovaj projekt ima stalni posao koji nije vezan za projekt ni na koji način, te koja
        je autor te izrađuje, održava ili paralelno sudjeluje u desetak sličnih projekta. Osoba koja uz sve to pohađa
        doktorski studij. Kojoj serveri koje koristi za hosting projekata odnose mjesečno značajnu količinu
        novčanih sredstava. Projekata, koji kao što vjerojatno primjećujete nemaju niti jednu jedinu reklamu na
        web sučeljima. Koji su besplatni svima vama na korištenje.</p>
        <h4>Kako mogu pomoći?</h4>
        <p>Ako smatrate da su projekti MeteoAdriatic-a od koristi vama ili znanstvenoj zajednici općenito, i
        htjeli bi podržati rad autora, možete to uraditi na neki od sljedećih načina:</p>

        <div class="card-body mt-1">
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-4">
                    Sudjelovati kao suradnik u programiranju CRD sučelja na GitHub-u
                </li>
                <li class="list-group-item py-4">
                    Pomoći u idejnom osmišljavanju sučelja, priključivanjem raspravi na GitHub-u
                </li>
                <li class="list-group-item py-4">
                    Omogućiti korištenje dodatnih računalnih resursa za potrebe numeričke reanalize
                </li>
                <li class="list-group-item py-4">
                    Donirati novčana sredstva za pokrivanje tekućih troškova
                </li>
                <li class="list-group-item py-4">
                    Podržati MeteoAdriatic projekte na društvenim mrežama reklamom
                </li>
                <li class="list-group-item py-4">
                    Omogućiti MeteoAdriatic-u izradu reklamnih <i>gadgeta</i> poput naljepnica, kišobrana, majica...
                </li>
                <li class="list-group-item py-4">
                    Lista ideja za podršku nije definitivna...
                </li>
            </ul>
        </div>


    </div>


{% endblock %}
