{% extends "base.html" %}

{% block content %}

<div class="content-section">

    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Popis lokacija u bazi s koordinatama i nadmorskom visinom</legend>
        <div class="container">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <td>Lokacija</td>
                        <td>Geografska širina</td>
                        <td>Geografska dužina</td>
                        <td>Nadmorska visina</td>
                    </tr>
                </thead>
                <tbody>
                    {% for location in locs %}
                        <tr>
                        {% for key in location.columns() %}
                            <td>{{ location[key] }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </fieldset>

</div>

{% endblock %}