{% extends "base.html" %}

{% block content %}

    <div id="map" style="height: 80vh;"></div>

    <script type="text/javascript">
          // The first parameter are the coordinates of the center of the map
          // The second parameter is the zoom level
          var map = L.map('map').setView([44.5, 15.6], 7);

          // {s}, {z}, {x} and {y} are placeholders for map tiles
          // {x} and {y} are the x/y of where you are on the map
          // {z} is the zoom level
          // {s} is the subdomain of cartodb
            var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
          });

          {% for row in locs %}
            L.marker([{{ row[0] }}, {{ row[1] }}]).addTo(map).bindPopup("<strong> {{ row[2] }} </strong>");;
          {% endfor %}

          // Now add the layer onto the map
          map.addLayer(layer);

    </script>

{% endblock %}

