{% extends "base.html" %}

{% block content %}

    <div class="content-section">

        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Unesi SQL upit</legend>
                <div class="form-group">
                    {{ form.sql.label(class="form-control-label") }}
                    {{ form.sql(class="form-control form-control-lg") }}
                </div>
                <div class="container">
                    {{response}}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

    </div>

{% endblock %}