{% extends "base.html" %}

{% block content %}

    <div class="content-section">

        <form method="POST">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Odaberi lokaciju</legend>
                <div class="form-group">
                    <select name="locations">
                        {% for location in locations %}
                        <option value= "{{location}}">{{location}}</option>"
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Odaberi parametar</legend>
                <div class="form-group">
                    <select name="parameters">
                        {% for parameter in parameters %}
                        <option value= "{{parameter}}">{{parameter}}</option>"
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="container">
                {{response}}
            </div>
        </form>

    </div>






{% endblock %}