{% extends "base.html" %}

{% block content %}


    <div class="content-section">

        <form method="POST">
            <fieldset class="form-group">
                <legend class="border-bottom mb-1">Odaberi lokaciju i parametre</legend>
                <div class="row">
                    <div class="col-md-4">
                        <select name="locations" class="form-control">
                            <option value="Zagreb" SELECTED>Zagreb</option>"
                            {% for location in locations %}
                                {% if location==sel_loc %}
                                    <option value="{{location}}" SELECTED>{{location}}</option>"
                                {% else %}
                                    <option value="{{location}}">{{location}}</option>"
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                    <select name="parameters" class="form-control">
                        {% for parameter in parameters %}
                            {% if parameter==sel_param %}
                                <option value="{{parameter}}" SELECTED>{{parameter}}</option>"
                            {% else %}
                                <option value="{{parameter}}">{{parameter}}</option>"
                            {% endif %}
                        {% endfor %}
                    </select>
                    </div>
                    <div class="col-md-4">
                    <select name="parameters2" class="form-control">
                        <option value="" SELECTED>Sekundarni parametar (opcionalno)</option>"
                        {% for parameter in parameters %}
                            {% if parameter==sel_param2 %}
                                <option value="{{parameter}}" SELECTED>{{parameter}}</option>"
                            {% else %}
                                <option value="{{parameter}}">{{parameter}}</option>"
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select name="parameters3" class="form-control">
                        <option value="" SELECTED>3D parametar (opcionalno)</option>"
                        {% for parameter in parameters %}
                            {% if parameter==sel_param3 %}
                                <option value="{{parameter}}" SELECTED>{{parameter}}</option>"
                            {% else %}
                                <option value="{{parameter}}">{{parameter}}</option>"
                            {% endif %}
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend class="border-bottom mb-1">Odaberi početni/završni datum i opcije</legend>
                <div class="row">
                    <div class="col-md-2">
                        {{ form.startdate(class="form-control") }}
                        <small id="firststartdate" class="form-text text-muted text-center">
                            Prvi dostupni datum: {{first_date[0][0].strftime("%Y-%m-%d")}}</small>
                        <div class="card-body card-no-padding mt-3">
                            <h7 class="card-title">Definicija uzorka:</h7>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item py-2 li-no-padding">
                                    {{ form.resampleperiod(class="li-no-padding small") }}
                                </li>
                                <li class="list-group-item py-2 li-no-padding">
                                    {{ form.resamplehow(class="li-no-padding small") }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {{ form.enddate(class="form-control") }}
                        <small id="laststartdate" class="form-text text-muted text-center">
                            Zadnji dostupni datum: {{last_date[0][0].strftime("%Y-%m-%d")}}</small>
                        <div class="card-body card-no-padding mt-3">
                            <h7 class="card-title">Opcije tablice:</h7>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item py-2 li-no-padding">
                                    {{ form.removetbllimit }}
                                    <small id="removetbllimit" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Omogući prikazivanje cijele tablice bez limita.">Tablica bez limita</small>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body card-no-padding mt-3">
                            <h7 class="card-title">Opcije statistike:</h7>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item py-2 li-no-padding">
                                    {{ form.disablestats }}
                                    <small id="disablestats" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Isključi računanje statističkih elemenata (brže?).">Isključi statistiku</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-body card-no-padding">
                            <h7 class="card-title">Graf funkcije:</h7>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item py-1 li-no-padding">
                                    {{ form.trendline }}
                                    <small id="trendline" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Prikaži linearni trend i srednjak na grafu (samo za primarni parametar).">Trend</small>
                                </li>
                                <li class="list-group-item py-1 li-no-padding">
                                    {{ form.distribution }}
                                    <small id="distribution" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Prikaži razdiobu podataka na histogramu.">Razdioba</small>
                                </li>
                                <li class="list-group-item py-1 li-no-padding">
                                    {{ form.cumsum }}
                                    <small id="cumsum" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Prikaži kumulativnu sumu parametra od početka do kraja odabranog razdoblja. Najkorisnije za sumiranje oborina u vremenu.">Kumulativna suma</small>
                                </li>
                                <li class="list-group-item py-1 li-no-padding">
                                    {{ form.decompose }}
                                    <small id="decompose" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Izvrši sezonalnu dekompoziciju signala na komponente (trend, seasonal, residual). Odabrani period mora biti veći od dvije godine (730 dana). Samo primarni parametar.">S. dekompozicija</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-body card-no-padding">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item py-1 li-no-padding">
                                    {{ form.relativeplot }}
                                    <small id="relativeplot" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Prikaži relativni odnos primarnog i sekundarnog parametra kao raspršni graf (scatter plot).">Odnos pri/sek</small>
                                </li>
                                <li class="list-group-item py-1 li-no-padding">
                                    {{ form.relativekde }}
                                    <small id="relativekde" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Prikaži relativni odnos primarnog i sekundarnog parametra kao Kernel Density Estimation plot. Sporo za veliki dataset!">P/S KDE (sporo)</small>
                                </li>
                                <li class="list-group-item py-1 li-no-padding">
                                    {{ form.rollcorr }}
                                    <small id="rollcorr" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Prikaži korelaciju primarnog i sekundarnog parametra. Napomena: koristi pomični srednjak za reduciranje šuma.">Korelacija pri/sek</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-body card-no-padding">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-1 li-no-padding">
                                            <small id="ymaxplot" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Ograniči maksimum Y os grafa (x = 0 = automatski prema maksimumu iz podataka)">y<sub>max</sub></small>
                                            {{ form.ymaxplot(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            <small id="yminplot" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Ograniči minimum Y os grafa (x = 0 = automatski prema minimumu iz podataka)">y<sub>min</sub></small>
                                            {{ form.yminplot(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            {{ form.scatterplot }}
                                            <small id="scatterplot" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Koristi raspršni graf (scatter) za primarni parametar.">Raspršni graf</small>
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            <small id="scattersize" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Veličina markera za raspršni graf primarnog parametra.">Rasprš. s</small>
                                            {{ form.scattersize(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            <small id="scatteralpha" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Alpha parametar (prozirnost) za raspršni graf primarnog parametra. Valjane decimalne vrijednosti su od 0 - potpuno prozirno do 1 - potpuno neprozirno.">Rasprš. &alpha;</small>
                                            {{ form.scatteralpha(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            {{ form.largeplot }}
                                            <small id="largeplot" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Udvostruči visinu grafa.">Veći grafovi</small>
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            {{ form.samey }}
                                            <small id="samey" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Koristi zajedničku y os za primarni i sekundarni paramtetar.">Zajednička y os</small>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade show" id="v-pills-moving" role="tabpanel" aria-labelledby="v-pills-moving-tab">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-1 li-no-padding">
                                            <small id="rollingwindow" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Prozor (window) za pomične statistike = x (u mjernim jedinicama odabrane definicije uzorka); npr. 24 (h za satni uzorak) za pomični dnevni srednjak.">Prozor</small>
                                            {{ form.rollingwindow(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            {{ form.rollingmean}}
                                            <small id="rollingmean" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Primijeni pomični srednjak na graf.">Srednjak</small>
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            {{ form.rollingsum }}
                                            <small id="rollingsum" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Primijeni pomičnu sumu na graf.">Suma</small>
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            {{ form.rollingstdev }}
                                            <small id="rollingstdev" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Primijeni pomičnu standardnu devijaciju na graf.">St. devijacija</small>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade show" id="v-pills-3d" role="tabpanel" aria-labelledby="v-pills-3d-tab">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-1 li-no-padding">
                                            {{ form.limit3d }}
                                            <small id="limit3d" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Ograniči prikaz 3D parametra po minimalnoj i maksimalnoj vrijednosti. Potrebno je postaviti granične vrijednosti u poljima 3Dmin i 3Dmax.">Ograniči 3D</small>
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            {{ form.plot3dbar }}
                                            <small id="plot3dbar" class="d-inline-block text-muted align-top" data-toggle="tooltip" title="Koristi stupčani (bar) 3D graf - vizualno jasniji prikaz u većini slučajeva, ali mnogo sporije nego raspršni (scatter).">Stupčani 3D, sporo</small>
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            <small id="elevation3d" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Postavi nagib 3D grafa na ovu vrijednost u stupnjevima (zadano = 45).">3D nagib</small>
                                            {{ form.elevation3d(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            <small id="azimuth3d" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Postavi azimut 3D grafa na ovu vrijednost u stupnjevima (zadano = 45).">3D azimut</small>
                                            {{ form.azimuth3d(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            <small id="max3d" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Ograniči prikaz 3D parametra do maksimalne vrijednosti.">3D<sub>max</sub></small>
                                            {{ form.max3d(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            <small id="min3d" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Ograniči prikaz 3D parametra od minimalne vrijednosti.">3D<sub>min</sub></small>
                                            {{ form.min3d(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade show" id="v-pills-fft" role="tabpanel" aria-labelledby="v-pills-fft-tab">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-1 li-no-padding">
                                            <small id="fftspacing" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Primijeni FFT analizu, frekvencija = 1/x u mjernim jedinicama izabrane definicije uzorka; npr. 24 (h za satni uzorak) za parametar kojem se očekuje period fluktuacije od jednog dana (x = 0 = off)">FFT (1/x)</small>
                                            {{ form.fftspacing(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            <small id="fftxmax" class="d-inline-block text-muted align-middle" data-toggle="tooltip" title="Ograniči x os grafa FFT analize (FFT frekvencija), zadano i maksimum = 12.">FFT x<sub>max</sub></small>
                                            {{ form.fftxmax(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade show" id="v-pills-prefilter" role="tabpanel" aria-labelledby="v-pills-prefilter-tab">
                                    <ul class="list-group list-group-flush">
                                        <small id="sqlwarning" class="form-text text-muted text-center">Nije kompatibilno s mnogim funkcijama!</small>
                                        {{ form.sqlfilter(class="form-control", rows="6") }}
                                        <small id="sqlfilter" class="form-text text-muted text-center" data-toggle="tooltip" title="Proizvoljan SQL filter, dodatno na standardni upit definiran odabranim parametrima forme sučelja.
                                         NAPOMENA: Mnoge funkcije sustava neće biti moguće, zavisno o odabranom dodatnom filtriranju podataka. Ako se sustav sruši, pokušajte odabrati satno uzorkovanje i/ili isključivanje statistike.
                                          Funkcija je samo za primarni parametar. Prikazani graf bit će raspršni (scatter) bez obzira na parametar.">
                                            Primjer:  AND PWAT_CLM > 30</small>
                                    </ul>
                                </div>
                                <div class="tab-pane fade show" id="v-pills-postfilter" role="tabpanel" aria-labelledby="v-pills-postfilter-tab">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item py-1 li-no-padding">
                                            {{ form.filterprimin(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                            <small id="filterprimin" class="form-text text-muted text-center" data-toggle="tooltip" title="Proizvoljan filter podataka po minimalnoj vrijednosti za primarni parametar. Radi samo za primarni parameter, isljučivo!">Minimum</small>
                                        </li>
                                        <li class="list-group-item py-1 li-no-padding">
                                            {{ form.filterprimax(class="form-control form-control-sm narrow-form-control-fr d-inline-block") }}
                                            <small id="filterprimax" class="form-text text-muted text-center" data-toggle="tooltip" title="Proizvoljan filter podataka po maksimalnoj vrijednosti za primarni parametar. Radi samo za primarni parameter, isljučivo!">Maximum</small>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade show" id="v-pills-final" role="tabpanel" aria-labelledby="v-pills-final-tab">
                                    <ul class="list-group list-group-flush">
                                        <small id="plottitle" class="form-text text-muted text-center">Naslov grafa</small>
                                        {{ form.plottitle(class="form-control", rows="2") }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-plot-options">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                          <a class="nav-link active micro-text" id="v-pills-basic-tab" data-toggle="pill" href="#v-pills-basic" role="tab" aria-controls="v-pills-basic" aria-selected="true" data-toggle="tooltip" title="Opcije za podešavanje grafičkog prikaza)">Opcije grafa</a>
                          <a class="nav-link micro-text" id="v-pills-3d-tab" data-toggle="pill" href="#v-pills-3d" role="tab" aria-controls="v-pills-3d" aria-selected="false" data-toggle="tooltip" title="Opcije 3D grafičkog prikaza (potrebno odabrati uz primarni i sekundarni, dodatno i 3D paramatar)">Opcije 3D grafa</a>
                          <a class="nav-link micro-text" id="v-pills-moving-tab" data-toggle="pill" href="#v-pills-moving" role="tab" aria-controls="v-pills-moving" aria-selected="false" data-toggle="tooltip" title="Pomične statistike (moving/rolling statistics)">Pomične statistike</a>
                          <a class="nav-link micro-text" id="v-pills-fft-tab" data-toggle="pill" href="#v-pills-fft" role="tab" aria-controls="v-pills-fft" aria-selected="false" data-toggle="tooltip" title="Opcije za provedbu Fast Fourier analize na podacima">FFT analiza</a>
                          <a class="nav-link micro-text" id="v-pills-prefilter-tab" data-toggle="pill" href="#v-pills-prefilter" role="tab" aria-controls="v-pills-prefilter" aria-selected="false" data-toggle="tooltip" title="Opcije za prilagođeno filtriranje kroz SQL upit">SQL filter</a>
                          <a class="nav-link micro-text" id="v-pills-postfilter-tab" data-toggle="pill" href="#v-pills-postfilter" role="tab" aria-controls="v-pills-postfilter" aria-selected="false" data-toggle="tooltip" title="Opcije za prilagođeno filtriranje u postprocesiranju podataka">Post filter</a>
                          <a class="nav-link micro-text" id="v-pills-final-tab" data-toggle="pill" href="#v-pills-final" role="tab" aria-controls="v-pills-final" aria-selected="false" data-toggle="tooltip" title="Opcije za finaliziranje produkata">Finalizacija</a>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary") }}
            </div>
            {% if show_plot==True %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-2">Grafički prikaz</legend>
                    <div class="container">
                        <img class="img-fluid" src="data:image/png;base64, {{plot}}" alt="Plot">
                        {% if relplot != '' %}
                        <img class="img-fluid" src="data:image/png;base64, {{relplot}}" alt="Relative plot">
                        {% endif %}
                        {% if plot3d != '' %}
                        <img class="img-fluid" src="data:image/png;base64, {{plot3d}}" alt="3D plot">
                        {% endif %}
                        {% if rollcorr != '' %}
                            <img class="img-fluid" src="data:image/png;base64, {{rollcorr}}" alt="Rolling correlation">
                        {% endif %}
                        {% if fft != '' %}
                            <img class="img-fluid" src="data:image/png;base64, {{fft}}" alt="FFT">
                        {% endif %}
                        {% if dist != '' %}
                            <img class="img-fluid" src="data:image/png;base64, {{dist}}" alt="Distribution">
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <legend class="border-bottom mb-2">Statistički podaci</legend>
                    <div class="container">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="stats1-tab" data-toggle="tab" href="#stats1" role="tab" aria-controls="stats1" aria-selected="true">Osnovno</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="stats2-tab" data-toggle="tab" href="#stats2" role="tab" aria-controls="stats2" aria-selected="false">Srednje vrijednosti</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="stats3-tab" data-toggle="tab" href="#stats3" role="tab" aria-controls="stats3" aria-selected="false">Pokazatelji promjenjivosti</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="stats4-tab" data-toggle="tab" href="#stats4" role="tab" aria-controls="stats4" aria-selected="false">Ostalo</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="stats5-tab" data-toggle="tab" href="#stats5" role="tab" aria-controls="stats5" aria-selected="false">Korelacije Pri/Sek</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="stats1" role="tabpanel" aria-labelledby="Statistika(1)">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Statistički element</th>
                                  <th scope="col">{{ sel_param }}</th>
                                  <th scope="col">{{ sel_param2 }}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">Broj zapisa</th>
                                  <td>{{ count_pri }}</td>
                                  <td>{{ count_sec }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Maksimalna vrijednost</th>
                                  <td>{{ max_pri }}</td>
                                  <td>{{ max_sec }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Minimalna vrijednost</th>
                                  <td>{{ min_pri }}</td>
                                  <td>{{ min_sec }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Aritmetička sredina</th>
                                  <td>{{ mean_pri }}</td>
                                  <td>{{ mean_sec }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Standardna devijacija</th>
                                  <td>{{ std_pri }}</td>
                                  <td>{{ std_sec }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Suma</th>
                                  <td>{{ sum_pri }}</td>
                                  <td>{{ sum_sec }}</td>
                                </tr>
                                  <th scope="row">Trend</th>
                                  <td>{{ slope_pri }}</td>
                                  <td>{{ slope_sec }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="stats2" role="tabpanel" aria-labelledby="Statistika(2)">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Statistički element</th>
                                  <th scope="col">{{ sel_param }}</th>
                                  <th scope="col">{{ sel_param2 }}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">Aritmetička sredina</th>
                                  <td>{{ mean_pri }}</td>
                                  <td>{{ mean_sec }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Median</th>
                                  <td>{{ median_pri }}</td>
                                  <td>{{ median_sec }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Geometrijska sredina</th>
                                  <td>{{ gmean_pri }}</td>
                                  <td>{{ gmean_sec }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Harmonijska sredina</th>
                                  <td>{{ hmean_pri }}</td>
                                  <td>{{ hmean_sec }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="stats3" role="tabpanel" aria-labelledby="Statistika(3)">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Statistički element</th>
                                  <th scope="col">{{ sel_param }}</th>
                                  <th scope="col">{{ sel_param2 }}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">Standardna devijacija</th>
                                  <td>{{ std_pri }}</td>
                                  <td>{{ std_sec }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Standardna pogreška</th>
                                  <td>{{ std_err_pri }}</td>
                                  <td>{{ std_err_sec }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Koeficijent promjenjivosti</th>
                                  <td>{{ variation_pri }}</td>
                                  <td>{{ variation_sec }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Varijanca</th>
                                  <td>{{ var_pri }}</td>
                                  <td>{{ var_sec }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="stats4" role="tabpanel" aria-labelledby="Statistika(4)">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Statistički element</th>
                                  <th scope="col">{{ sel_param }}</th>
                                  <th scope="col">{{ sel_param2 }}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">Koeficijent zaobljenosti</th>
                                  <td>{{ kurtosis_pri }}</td>
                                  <td>{{ kurtosis_sec }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Mjera asimetrije</th>
                                  <td>{{ skew_pri }}</td>
                                  <td>{{ skew_sec }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="stats5" role="tabpanel" aria-labelledby="Statistika(5)">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Statistički element</th>
                                  <th scope="col">{{ sel_param }} / {{ sel_param2 }}  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">Pearson korelacija</th>
                                  <td>{{ corr_pearson }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Kendall korelacija</th>
                                  <td>{{ corr_kendall }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Spearman korelacija</th>
                                  <td>{{ corr_spearman }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <legend class="border-bottom mb-2">Tablični ispis podataka</legend>
                    {% if table_truncated == True %}
                        <div class="alert alert-warning" role="alert">Tablica je ograničena na 30 dana.</div>
                    {% endif %}
                    <div class="container">
                        <table class="table table-striped table-hover table-sm"
                               data-pagination="true"
                               data-search="true"
                               data-toggle="table"
                               data-page-size="50"
                               data-page-list="[10, 50, 100, 500, 1000]">
                            <thead>
                                <tr>
                                    {% for item in table_columns %}
                                    <th scope="col" data-sortable="true">{{ item }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in response %}
                                <tr>
                                    <td>
                                        {{ item[0].strftime("%Y-%m-%d %H") }}
                                    </td>
                                    <td>
                                        {{ item[1] }}
                                    </td>
                                    <td>
                                        {{ item[3] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            {% endif %}
        </form>

    </div>






{% endblock %}